.cover {
  width: 40rem;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  padding: 4rem 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 8rem;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 2rem 0;
}
.buttons button,
.form button {
  background: rgb(31, 112, 105);
  border-radius: 5px;
  border: 0;
  padding: 0.6rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.buttons button:hover,
.form button:hover {
  background: rgb(48, 153, 144);
}
.counter {
  text-align: center;
  font-size: 2rem;
  margin: 0 1rem 0 0;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  border: 0;
  border-bottom: 2px solid rgb(53, 53, 53);
  margin: 1.3rem 0;
  padding: 1rem;
  outline: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.form button {
  display: block;
  margin-top: 1rem;
}

@media screen and (max-width:500px) {

  .cover {
    width: 85%;
    border-radius: 7px;
    padding: 4rem 3rem;
    margin-top: 6rem;
  }

  .buttons {
    gap: 15px;
    margin: 2rem 0;
  }
  
}